[Unit]
Description=TurksatImza Service
[Service]

# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/usr/share/signNativeOsService/

ExecStart=/usr/bin/java -jar /usr/share/signNativeOsService/signNativeOsService.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
